.char {
    width: 60px;
    height: 60px;
    margin: 0 5px 5px 0;
    border: solid 2px #d8d8d8e3;
    font-size: 2.8rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.updatedChar {
    transform: rotateX(360deg);
    transition: all 1.5s ease;
}

.heightFitContnet {
    height: fit-content;
}

.widthFitContnet {
    width: fit-content;
}

.message {
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) !important;
    font-size: larger !important;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75% !important;
    background-color: white !important;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.keyboard-row div {
    align-items: center;
    background-color: #dce1ed;
    color: #414a5e !important;
    border: 2px solid transparent;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex: 1 1;
    font-size: 17px;
    font-weight: 700;
    justify-content: center;
    margin: 3px;
    min-height: 46px;
    padding: 3px;
    text-decoration: inherit;
    text-transform: capitalize;
    transition: 0.2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.keyboard-row div:hover {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    top: 3px;
}

.enter,
.delete {
    flex: 2 1;
    padding: 3px;
}

@media (min-width: 992px) {
    .keyboard {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .keyboard-row div {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .keyboard-row div {
        font-size: 12px;
        min-height: 42px;
    }
}

@media (max-width: 320px) {
    .keyboard-row div {
        font-size: 12px;
    }
}
